body {
  background-image: url("/m0xs_h1ci_210426.jpg");
  background-size: cover; /* כך שהתמונה תכסה את כל הדף */
  background-repeat: no-repeat; /* לא לחזור על התמונה */
  background-position: center;
  background-size: 100% 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form-container {
  width: 300px;
  padding: 20px;
  background-color: #c9e5cd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 150px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
}

.form-container input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-container input[type="submit"] {
  background-color: #588d4f;
  color: white;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #51724c;
}
.title {
  font-size: 50px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f2fdf4; /* ניתן לשנות את הצבע לפי העיצוב שלך */

  text-align: center;
  text-transform: uppercase; /* הוספת אותיות גדולות */
}
